.body{
    width: 100vw;
    height: 100vh;
    background-color: gray;
}

.add-project{
    /* background-color: yellow; */

}
/* 
.main{

} */


.add-project-container{
    background-color: white;
    /* display: flex; */
    align-items: center;
    margin-top: 3%;
    height: 70vh;
    width: 60vw;
    border-radius: 10px;


    border: 1px solid  black;
    /* justify-content: center; */
}


.top-part{
    background-color: blue;
    display: flex;
    justify-content: space-between;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 50px;
    width: 100%;
}


.add-proj{
    background-color: green;
    margin: 20px;
}